<%--
  Created by IntelliJ IDEA.
  User: root
  Date: 11/5/17
  Time: 2:05 AM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<!DOCTYPE HTML>
<html>

<head>
    <title>Food Journal</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <style>
    html
    { height: 100%;}

    *
    { margin: 0;
        padding: 0;}

    body
    { font: normal .80em 'trebuchet ms', arial, sans-serif;
        background: #FFF;
        color: #555;}

    p
    { padding: 0 0 20px 0;
        line-height: 1.7em;}

    img
    { border: 0;}

    h1, h2, h3, h4, h5, h6
    { color: #362C20;
        letter-spacing: 0em;
        padding: 0 0 5px 0;}

    h1, h2, h3
    { font: normal 170% 'century gothic', arial;
        margin: 0 0 15px 0;
        padding: 15px 0 5px 0;
        color: #000;}

    h2
    { font-size: 160%;
        padding: 9px 0 5px 0;
        color: #B48A7C;}

    h3
    { font-size: 140%;
        padding: 5px 0 0 0;}

    h4, h6
    { color: #B48A7C;
        padding: 0 0 5px 0;
        font: normal 110% arial;
        text-transform: uppercase;}

    h5, h6
    { color: #888;
        font: normal 95% arial;
        letter-spacing: normal;
        padding: 0 0 15px 0;}

    a, a:hover
    { outline: none;
        text-decoration: underline;
        color: #B48A7C;}

    a:hover
    { text-decoration: none;}

    blockquote
    { margin: 20px 0;
        padding: 10px 20px 0 20px;
        border: 1px solid #E5E5DB;
        background: #FFF;}

    ul
    { margin: 2px 0 22px 17px;}

    ul li
    { list-style-type: circle;
        margin: 0 0 6px 0;
        padding: 0 0 4px 5px;
        line-height: 1.5em;}

    ol
    { margin: 8px 0 22px 20px;}

    ol li
    { margin: 0 0 11px 0;}

    .left
    { float: left;
        width: auto;
        margin-right: 10px;}

    .right
    { float: right;
        width: auto;
        margin-left: 10px;}

    .center
    { display: block;
        text-align: center;
        margin: 20px auto;}

    #main, #logo, #menubar, #site_content, #footer
    { margin-left: auto;
        margin-right: auto;}

    #header
    { background: #000;
        border-bottom: 1px solid #3d3d3d;
        height: 186px;}

    #banner
    {  background: transparent url(banner.jpg) no-repeat;
        width: 860px;
        height: 180px;
        margin-bottom: 20px;
        border: 10px solid #DDD;}

    #logo
    { width: 880px;
        position: relative;
        height: 140px;
        background: #1d1d1d;}

    #logo #logo_text
    { position: absolute;
        top: 10px;
        left: 0;}

    #logo h1, #logo h2
    { font: normal 300% 'century gothic', arial, sans-serif;
        border-bottom: 0;
        text-transform: none;
        margin: 0 0 0 9px;}

    #logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
    { padding: 22px 0 0 0;
        color: #FFF;
        letter-spacing: 0.1em;
        text-decoration: none;}

    #logo_text h1 a .logo_colour
    { color: #5E4238;}

    #logo_text a:hover .logo_colour
    { color: #5E4238;}

    #logo_text h2
    { font-size: 120%;
        padding: 4px 0 0 0;
        color: #B48A7C;}

    #menubar
    { width: 872px;
        height: 45px;
        padding-right: 8px;
        background: #2D2D2D;
        border-top: 1px solid #3D3D3D;}

    ul#menu
    { float: right;
        margin: 0;}

    ul#menu li
    { float: left;
        padding: 0 0 0 9px;
        list-style: none;
        margin: 8px 4px 0 4px;}

    ul#menu li a
    { font: normal 100% 'trebuchet ms', sans-serif;
        display: block;
        float: left;
        height: 20px;
        padding: 6px 20px 5px 20px;
        text-align: center;
        color: #FFF;
        text-decoration: none;
        background: #5E4238;}

    ul#menu li.selected a
    { height: 20px;
        padding: 6px 20px 5px 11px;}

    ul#menu li.selected
    { margin: 8px 4px 0 13px;
        background: #B48A7C;}

    ul#menu li.selected a, ul#menu li.selected a:hover
    { background: #B48A7C;
        color: #FFF;}

    ul#menu li a:hover
    { color: #B48A7C;}

    #site_content
    { width: 880px;
        overflow: hidden;
        margin: 20px auto 0 auto;
        padding: 0 0 10px 0;}

    #sidebar_container
    { float: left;
        width: 224px;}

    .sidebar_top
    { width: 222px;
        height: 14px;
        background: transparent url(side_top.png) no-repeat;}

    .sidebar_base
    { width: 222px;
        height: 14px;
        background: url(side_base.png) no-repeat;}

    .sidebar
    { float: right;
        width: 222px;
        padding: 0;
        margin: 0 0 16px 0;}

    .sidebar_item
    { background: url(side_back.png) repeat-y;
        padding: 0 15px;
        width: 192px;}

    .sidebar li a.selected
    { color: #444;}

    .sidebar ul
    { margin: 0;}

    #content
    { text-align: left;
        width: 620px;
        padding: 0 0 0 5px;
        float: right;}

    #content ul
    { margin: 2px 0 22px 0px;}

    #content ul li, .sidebar ul li
    { list-style-type: none;
        background: url(bullet.png) no-repeat;
        margin: 0 0 0 0;
        padding: 0 0 4px 25px;
        line-height: 1.5em;}

    #footer
    { width: 100%;
        font-family: 'trebuchet ms', sans-serif;
        font-size: 100%;
        height: 80px;
        padding: 28px 0 5px 0;
        text-align: center;
        background: #000;
        border-top: 2px solid #2D2D2D;
        color: #FFF;}

    #footer p
    { line-height: 1.7em;
        padding: 0 0 10px 0;}

    #footer a
    { color: #FFF;
        text-decoration: none;}

    #footer a:hover
    { color: #B48A7C;
        text-decoration: none;}

    .search
    { color: #5D5D5D;
        border: 1px solid #BBB;
        width: 134px;
        padding: 4px;
        font: 100% arial, sans-serif;}

    .form_settings
    { margin: 15px 0 0 0;}

    .form_settings p
    { padding: 0 0 4px 0;}

    .form_settings span
    { float: left;
        width: 200px;
        text-align: left;}

    .form_settings input, .form_settings textarea
    { padding: 5px;
        width: 299px;
        font: 100% arial;
        border: 1px solid #E5E5DB;
        background: #FFF;
        color: #47433F;}

    .form_settings .submit
    { font: 100% arial;
        border: 0;
        width: 99px;
        margin: 0 0 0 212px;
        height: 33px;
        padding: 2px 0 3px 0;
        cursor: pointer;
        background: #3B3B3B;
        color: #FFF;}

    .form_settings textarea, .form_settings select
    { font: 100% arial;
        width: 299px;}

    .form_settings select
    { width: 310px;}

    .form_settings .checkbox
    { margin: 4px 0;
        padding: 0;
        width: 14px;
        border: 0;
        background: none;}

    .separator
    { width: 100%;
        height: 0;
        border-top: 1px solid #D9D5CF;
        border-bottom: 1px solid #FFF;
        margin: 0 0 20px 0;}

    table
    { margin: 10px 0 30px 0;}

    table tr th, table tr td
    { background: #3B3B3B;
        color: #FFF;
        padding: 7px 4px;
        text-align: left;}

    table tr td
    { background: #E5E5DB;
        color: #47433F;
        border-top: 1px solid #FFF;}
    </style>
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><span class="logo_colour">Digital Food Journal</span></h1>

            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li class="selected"><a href="${createLink(controller:'home2',action:'index')}">Home</a></li>
                <li><a href="${createLink(controller:'foodLog',action:'index')}">Food Diary</a></li>
                <li><a href="${createLink(controller:'bmi',action:'index')}">BMI Calculator</a></li>

            </ul>
        </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div id="banner">

        </div>
        <div id="sidebar_container">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <!-- insert your sidebar items here -->

                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">


                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">


                </div>
                <div class="sidebar_base"></div>
            </div>
        </div>
        <div id="content">
            <h1 align="center">DIGITAL FOOD JOURNAL</h1>
            <h3 align="center">Writing down what you eat helps you take a critical look at your food habits.</h3>
            <p>What if just by making one change in your habits, you could double your weight loss?</p>
            <p>It may sound too good to be true, but many experts say that the simple act of keeping a food diary can encourage you to eat fewer calories and thus lose weight.</p>
        </div>
    </div>

</div>
</body>
</html>